# /protect_{f,s}


on early-init
    mkdir /protect_f 0771 system system
    mkdir /protect_s 0771 system system


on fs
    exec /sbin/e2fsck -pfD /emmc@protect_f
    exec /sbin/tune2fs -O has_journal /emmc@protect_f
    mount ext4 /emmc@protect_f /protect_f noatime nosuid nodev wait commit=1,nodelalloc,noauto_da_alloc
    exec /sbin/e2fsck -pfD /emmc@protect_s
    exec /sbin/tune2fs -O has_journal /emmc@protect_s
    mount ext4 /emmc@protect_s /protect_s noatime nosuid nodev wait commit=1,nodelalloc,noauto_da_alloc


on post-fs-data
    # We chown/chmod /protect_f and /protect_s again so because mount is run as root + defaults
    chown system system /protect_f
    chmod 0771 /protect_f

    chown system system /protect_s
    chmod 0771 /protect_s


# vim:set ai et ts=4 sw=4 sts=4 fenc=utf-8:
